
/*字体大小是页面默认大小的100%，即16像素*/
body{font-size:62.5%;font-family:"Microsoft YaHei",Arial; overflow-x:hidden; overflow-y:auto;margin: 0;padding: 0;}   


#header{
	display: flex;
	width: 100%;
	margin: 0 auto;
	height:2rem;
	position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.nav{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    background: url('../img/Category.png') no-repeat;
    background-size: cover;
    position: absolute;
    right: 0.3rem;
    /*transform: translate(0,-50%);*/
    /*top: 50%;*/
}

.logo{
	width:3rem;
    height: 2rem;
    display: inline-block;
    background: url('../img/logo.png') no-repeat;
    background-size: cover;
}


html {font-size : 20px;}
